<!-- Styling supported by welcome.scss -->

<div class="container-fluid bg-white">
  <div class="lead">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <h2 class="heading">Resend Confirmation Instructions</h2>

          <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
            <%= f.error_notification %>
            <%= f.full_error :confirmation_token %>

           <div class="form-inputs">
             <%= f.input :email, required: true, autofocus: true %>
           </div>

            <div class="form-actions">
              <%= f.button :submit, "Resend confirmation instructions", class: 'btn btn-success center-block' %>
            </div>
          <% end %>

        <div class="shared-links">
          <%= render "devise/shared/links" %>
        </div>
        
      </div>
    </div>
  </div>
</div>