<!-- Display single dog after being entered into form -->
<!-- Styling supported by dogs.scss -->
<div class="container-fluid">

  <!-- Page Header -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="heading">Individual Dog Info</h1>
      <p class="heading-description">This displays the dog you just entered. Click he <i><strong>Back</strong></i> to return to the <i><strong>Enter A New Dog</strong></i> page. Click the <i><strong>Edit</strong></i> button to make changes for any dog already added to either the Foster or Adoptable page.</p>
    </div>
  </div> 

  <div class="row">
    <div class="col-md-4">
      <%= link_to 'Back', new_dog_path, class: 'btn btn-primary pull-right' %> 
    </div>
    <div class="col-md-4">
      <div class="adoptable-profile">
        <p><%= image_tag @dog.image_url(:thumb), class: "img-responsive img-adoptable center-block" %><p>
        <h4 class="dog-title"><strong>Animal ID:</strong> <%= @dog.animal_id %> | <strong>Name:</strong> <%= @dog.name %></h4>
        <ul>
          <li class="dog-traits"><strong>Gender:</strong> <%= @dog.gender %></li>
          <li class="dog-traits"><strong>Weight:</strong> <%= @dog.weight %> lbs</li>
          <li class="dog-traits"><strong>Age:</strong> <%= @dog.age %></li>
          <li class="dog-traits"><strong>Breed Type:</strong> <%= @dog.breed_type %></li>
          <li class="dog-traits"><strong>Primary Breed:</strong> <%= @dog.breed_one %></li>
          <li class="dog-traits"><strong>Secondary Breed:</strong> <%= @dog.breed_two %></li>
          <li class="dog-traits"><strong>Cat Compatibility:</strong> <%= @dog.cat_compatible %></li>
          <li class="dog-traits"><strong>Dog Compatibility:</strong> <%= @dog.dog_compatible %></li>
          <li class="dog-traits"><strong>Human Compatibility:</strong> <%= @dog.human_compatible %></li>
          <li class="dog-traits"><strong>Energy Level:</strong> <%= @dog.energy_level %></li>
          <li class="dog-traits"><strong>Temperament:</strong> <%= @dog.temperament %></li>
          <li class="dog-traits"><strong>Adoption Fee:</strong> $<%= @dog.fee %></li>
        </ul>
        <p class="dog-description"><%= @dog.description %></p> 
      </div><!-- /.adoptable-profile -->
    </div><!-- /.col-md-3 -->
    <div class="col-md-4">
      <%= link_to 'Edit', edit_dog_path, class: 'btn btn-success pull-left' %> 
    </div>
  </div><!-- /.row -->  
</div><!-- /.container-fluid -->


