<!-- Styling supported by welcome.scss -->

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
        <h2 class="heading">Events</h2>
      <hr class="horz-short">
    </div>
  </div>
  <div class="row first">
    <div class="col-md-8">
      <h3 class="heading">Adoption Events</h3>
      <p>Volunteers are needed to assist the foster parents and their dogs with setting up crates, walking and playing with dogs, and of course cleanup. Dress comfortably, bring a folding chair, and be prepared to have some fun. If you are at least 18 years old, and have an hour or more to spare, we would love to have you.</p>   
    </div>
    <div class="col-md-4">
      <div class="special">
        <%= link_to image_tag("beaches.png", class: "img-responsive center-block"), "http://www.beachespetresort.biz/", alt: "Beaches Website", target: "_blank" %>
        <p>Beaches Pet Resort & Training Center</br> 
           29335 Harper Ave</br>
           St. Clair Shores, MI 48081</br>
        </p>
        <p><%= link_to image_tag("FB-FindUsonFacebook-online-114.png", class: "img-responsive center-block"), "https://www.facebook.com/Beaches-Pet-Resort-Training-Center-459928417482107/", alt: "Facebook link", target: "_blank" %>
        </p>
      </div><!-- /.special --> 
    </div><!-- /.col-md-4 -->
  </div><!-- /.row -->

  <hr>

  <div class="row last">
    <div class="col-md-8">
      <h3 class="heading">Tupperware Pary</h3>
      <p>We have a fundraiser going on right now. This is a great way to shop for the holidays without dealing with the long lines or crowds. There are a wonderful selection of items and, you can follow the party on Facebook for additional information.</p> 
      <p>Facebook only allows events to be posted no longer than two weeks. So although the date on the FB page may show a different end date, the event runs through 10/31. For every purchase, 40% of the proceeds goes directly to Compass Dog Rescue.</p>   
    </div>
    <div class="col-md-4">
      <div class="special">
        <p>Tupperware Party</br>
        <p>Sept. 21st - Oct. 31st, 2017</p> 
        <p><%= link_to image_tag("FB-FindUsonFacebook-online-114.png", class: "img-responsive center-block"), "https://www.facebook.com/events/120293855382665/permalink/123952891683428/", alt: "Tupperware Facebook link", target: "_blank" %>
        </p>
      </div><!-- /.special --> 
    </div><!-- /.col-md-4 -->
  </div><!-- /.row -->
</div><!-- /.container -->
        

         