<!-- Styling supported by welcome.scss -->

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
        <h2 class="heading">Ways To Help</h2>
      <hr class="horz-short">
    </div>
  </div>
  <div class="row first">
    <div class="col-md-8">
      <h3 class="heading">Donations</h3>
      <p>We are in need of the following items for our rescue. Donations can be dropped off at our adoption events, or arrangements can be made for another time and location. However, please contact Compass Dog Rescue in advance for scheduling.</p>
      <ul>
        <li>Dog and puppy food</li>
        <li>Collars and leashes (all sizes)</li>
        <li>Dog snacks</li>
        <li>Towels, sheets, blankets, dog beds (new and used)</li>
        <li>Paper towels, cleaning supplies</li>
        <li>Dog coats and jackets (new and used)</li>
        <li>Dog crates (new or used)</li>
      </ul>
      <p>You can also visit our <%= link_to "Amazon Wish List", "https://www.amazon.com/gp/registry/wishlist/36EKRNR2SQGCA/ref=cm_sw_su_w", alt: "Amazon Link", target: "_blank" %> page to view a list of needed items and make a purchase.</p>
      <p>We also welcome monetary donations. You can mail a check or donate via PayPal.</p>
    </div><!-- /.col-md-8 -->
    <div class="col-md-4">
      <div class="special">
        <p>Compass Dog Rescue</br> 
           123 Street</br>
           City, MI 12345</br>
        </p>
        <h3>Donate via PayPal</h3>
          <%= render 'dogs/paypal' %>
      </div><!-- /.special -->
    </div><!-- /.col-md-4 -->
  </div><!-- /.row -->

  <hr>

  <div class="row last">
    <div class="col-md-8">
      <h3 class="heading">Volunteer</h3>
      <p>There are many ways you can help our rescue. Below are some of the areas we need assistance, but we are open to all ideas. You can always contact us with your suggestions.</p>
      <p>If you are interested in fostering in Texas or Michigan, please fill out an application. Foster parents are provided with crates, food, heartworm and flea preventative. We even cover the costs of medical expenses. You can also volunteer to transport dogs to their doctor's appointments or to another foster.</p>
      <ul>
        <li>Fostering</li>
        <li>Fundraising</li>
        <li>Grant writing</li>
        <li>Dog training</li>
        <li>Dog walking</li>
        <li>Transport dogs to adoption events, doctor's appointments, etc</li>
        <li>Sharing our information on social media</li>
      </ul>
    </div>
    <div class="col-md-4">
      <span class="glyphicon glyphicon-heart"></span>
    </div><!-- /.col-md-4 -->
  </div>
</div><!-- /.container-fluid -->
