<!-- Display Navbar and Carousel Partial -->
<%= render 'shared/carousel' %>

<!-- Styling supported by welcome.scss -->


<!-- 1st Section Dog of The Week description -->
<div class="container-fluid bg-white">
  <div class="row middle">
    <div class="col-md-6">
      <h2 class="heading">Our Dog of The Week:</h2>
      <h2 class="heading"><i>Cilantro</i></h2>
      <p class="lead">Each week we feature one of our wonderful dogs. Meet more of these cuties by visiting our foster and adoptables pages.</p>  
    </div>
    <div class="col-md-6">    
      <%= image_tag("cilantro.jpg", class: "img-responsive large pull-right ", alt: "Dog of the week") %>
    </div>
  </div>        
</div>

<!-- 3nd Section About Us description -->
<div class="container-fluid bg-grey">
   <div class="row middle">  
     <div class="col-md-6">
       <%= image_tag("reggie.jpg", class: "img-responsive large pull-left ", alt: "Reggie And Cat") %>
     </div>
     <div class="col-md-6"> 
       <h2 class="heading">About Us</h2> 
        <p class="lead">Compass began with a single individual with a big dream. We have since grown into a small network of volunteers working in Texas and Michigan. Learn who we are, and what we do. <%= button_to "Learn more", welcome_about_path, class: 'btn btn-default center-block' %></p> 
     </div> 
  </div>
</div>

<!-- 4th Section Buzz Birthday -->
<div class="container-fluid bg-white">
  <div class="row last">
    <div class="col-md-6">
      <h2 class="heading">330 dogs, and counting...
      </h2>
      <p class="lead">We celebrated our 2nd year anniversay on August 1st of 2017. <i>Buzz</i>, now Casey, was our first adoption. To celebrate Casey's <i>Gotcha Day</i>, his family threw a Pawty like none other! We are so glad that Casey and all the Compass dogs are doing so well.
      </p>
      <p class="lead">And we love the updates! Keep them coming! Thank you, to all that have made our 2nd year so exciting and so successful! We are truly grateful. Oh - and Happy Birthday Casey!! 
      </p>
    </div>
    <div class="col-md-6">    
      <%= image_tag("buzz01.jpg", class: "img-responsive large large pull-right", alt: "Buzz Birthday") %>
    </div>
  </div>
</div><!-- /.container-fluid bg-white -->









