<!-- Styling supported by guests.scss -->

<div class="container-fluid">
  <div class="lead">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="heading">Contact Us</h1>
   
          <%= simple_form_for @contact, validate: true do |f| %>

            <div class="errors">
              <% if @contact.errors.any? %>
                <h2>There are <%= pluralize(@contact.errors.count, "error") %></h2>
                  <ul>
                    <% @contact.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                    <% end %>
                  </ul>
              <% end %>
            </div>
      
          <%= f.input :first_name, autofocus: true %>
          <%= f.input :last_name %>
          <%= f.input :email %>
          <%= f.input :subject %>
          <%= f.text_area :description, label: 'Description', rows: 8, class: "info-box" %>
          <%= f.submit "Submit", class: 'btn btn-success center-block' %>
        <% end %>  
      </div><!-- /.col-md-6 col-md-offset-3 -->
    </div><!-- /.row -->
  </div><!-- /.lead -->
</div><!-- /.container-fluid -->




