<div class="container-fluid bg-white">
  <div class="lead">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="heading">Request Received</h1>
        <p>Thank you, we have received your request and you should have received an email confirmation. One of our volunteers will respond within 24 hours.</p>  
        <p class="heading"><%= link_to "Return to Contact Us Form", new_contact_path %></p>
      </div>
    </div>
  </div>
</div>
