<!-- Styling supported by welcome.scss -->

<div class="container-fluid bg-white">
  <div class="lead">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <h2 class="heading">Log In</h2>

          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs">
              <%= f.input :email, required: false, autofocus: true %>
              <%= f.input :password, required: false %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Sign in", class: "btn btn-success center-block" %>
            </div>
          <% end %>

        <div class="shared-links">
         <%= render "devise/shared/links" %>
        </div>

      </div>
    </div>
  </div>
</div>