/* CUSTOMIZE THE CAROUSEL */

/* Carousel base class, move down from navbar */
.carousel {
  height: 500px;
  margin-top: 40px;
  margin-bottom: 60px;
}

/* Move down text and center */
.carousel-caption {
  position: absolute; 
  top: 80px;
  left: 230px;
  color: $white;
  display: inline-block;
  vertical-align: middle;
  @include leadpara;
}

/* Fundraiser button */
.btn.btn-lg.btn-primary {
  @include btnwhite;
}

/* Set bg color */
.carousel-inner {
  height: 500px;
  background-color: $darkblue !important;
  background: linear-gradient;
}

/* Set bg color */
.left.carousel-control, .right.carousel-control {
  background-color: $darkblue !important;
  background: linear-gradient;
  background-image: linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%); 
}

/* Resize images, add border */
.carousel-inner > .item > .center-block.slide {
  position: relative;
  top: 30px;
  left: 0;
  height: 400px;
  width: 400px; 
}

/* Resize img, align center */
.carousel-inner > .item > .center-block.slide_1 {
  position: relative;
  top: 30px;
  left: 0;
  height: 400px;
  width: 450px;
}

/* Chg color */
.glyphicon.glyphicon-chevron-right, .glyphicon.glyphicon-chevron-left {
  color: $white;
}

/* Chg color */
.carousel-indicators > .active {
  background-color: $white;
}



