@import "variables.scss";
@import "mixins.scss";
@import "global.scss";


/* _FORM.HTML.ERB */
/* Center pg header */
#adoptable-title {
  text-align: center;
}

/* Section Dog of The Week and Buzz, chg bg color */
.container-fluid.bg-grey {
  @include bggrey;
}

/* Widen description box */
.info-box {
  width: 100%;
}

/* Widen button, chg color */
.btn.btn-success.center-block {
  @include btngreen;
}

/* Allow more space between image upload */
.upload {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Size text on form to be larger */
.form-traits {
  @include leadpara;
}

/* MICHIGAN and INDEX views */
/* Size text below heading */
.heading-description {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

/* Set img size */
.img-responsive.img-adoptable.center-block {
  width: 300px;
  height: 300px;
}

/* Set column width to allow 3 columns per pg */
.col-md-4.adoptable-profile, .col-md-4.foster-profile {
  width: 385px;
}

/* Center Dog Name and Animal ID */
.dog-title {
  text-align: center;
  font-size: 16px;
  font-family: $fontmain;
}

/* Size text for list items, remove bullets from display */
.dog-traits {
  font-family: $fontmain;
  font-size: 16px;
  margin-left: -10px;
  list-style-type: none;
}

/* Size text for description info */
.dog-description {
  padding-top: 20px;
  margin-left: 25px;
  font-size: 16px;
  font-family: $fontmain;
}

/* FOSTER and MICHIGAN views, 12 dogs per pg */
.digg_pagination {
  background: white;
  cursor: default;
  text-align: center;
}

.digg_pagination a, .digg_pagination span, .digg_pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px; 
}

.digg_pagination .disabled {
  display: none;
}

.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1; 
}

.digg_pagination a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #9aafe5; 
}
    
.digg_pagination a:hover, .digg_pagination a:focus {
  color: #000033;
  border-color: #000033; 
}

.digg_pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center; 
}

.digg_pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
    padding: 0.1em 0.25em; 
}

.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; 
}

* html .digg_pagination {
  height: 1%; 
}

*:first-child + html .digg_pagination {
  overflow: hidden; 
}
/* End PAGINATION styling */
