/* GLOBAL SETTINGS */

@import "variables.scss";
@import "mixins.scss";

/* Move down content for fixed navbar */
/* Add space between content and footer */
body {
  padding-top: 80px;
  padding-bottom: 0px;
}

/* Size text to be larger */
p {
  @include leadpara;
}


ul {
  @include leadpara;
}
/* Style headings, center on pg */
/* Add more space between nav and title, and bottom row and next section */
.heading {
  @include headingpara;
}

/* Center content within body */
.container-fluid {
  padding-top: 30px !important;
  padding-left: 65px !important;
  padding-right: 65px !important;
}

/* Section About Us, chg bg */
.container-fluid.bg-white {
  @include bgwhite;
}

/* Footer,chg bg */
/* Add more space between content and footer */
.container-fluid.bg-blue {
  background-color: $darkblue !important;
  color: $white; 
  padding-top: 30px;
  margin-bottom: -20px !important;
  margin-top: 100px; 
}

/* Footer btn */
.btn.btn-footer {
  @include btnwhite;
}

/* Learn More Buttons */
.btn.btn-more.center-block, .btn.btn-default.center-block {
  @include btnblue;
  font-family: $fontmain;
}

/* Submit buttons */
.btn.btn-success.center-block {
  @include btngreen;
  @include leadpara;
}


/* Imgs centered */
.img-responsive.img-square.center-block {
  @include medpics;
}

/* Add space between first row and nav */
.row.first {
    @include toprows;
}

/* Add more space top and bottom row sections */
.row.middle {
  @include middlerows; 
}

/* Add space last row and footer */
.row.last {
    @include bottomrows;
}

/* Style short horizontal line arnd headings */
.horz-short {
  @include hrshort;
}

/* Forms */
/* Set column and text to center of pg */
.col-md-6.col-md-offset-3 {
  padding-bottom: 50px;
}

/* Set color for error messages on all forms */
.errors {
  @include colorerrors;
}






