@import "variables";

/* Style navigation links */
@mixin navtextcolor {
	color: $darkblue !important;
	font-size: 20px;
	font-family: $fontmain;
}

/* Style links on hover */
@mixin navtexthover {
	color: $white !important;
  background-color: $darkblue !important;
}

/* Style paragraphs on landing pg */
@mixin leadpara {
	line-height: 1.4;
	font-size: 21px;
	font-weight: 300;
	font-family: $fontmain;
}

/* Heading titles for sections */
@mixin headingpara {
	font-family: $fontmain;
	font-size: h1;
	font-weight: bold;
	text-align: center;
  padding-top: 15px;
}

/* Size for large images */
@mixin lgpics {
  height: 500px;
  width: 500px;
}

/* Size for small images */
@mixin medpics {
	height: 450px;
	width: 400px;
}

/* Size for small images */
@mixin smpics {
  height: 280px;
  width: 350px; 
}

/* Set grey bg color, add padding to center content */
@mixin bggrey {
	background-color: $litegrey;
  padding-top: 50px !important;
	padding-bottom: 50px !important;
	padding-left: 65px !important;
	padding-right: 60px !important;	
}

/* Set white bg color, add padding to center content */
/* Pad bottom to remove gap btwn content and footer section */
@mixin bgwhite {
	background-color: $white;
	margin-top: 30px !important;
	padding-bottom: 100px !important;
	padding-left: 65px !important;
	padding-right: 60px !important;
}

/* For Learn More buttons, align center, chg bg color on hover */
@mixin btnblue {
  margin: 15px 0;
  background-color: $darkblue !important;
  color: $white !important;
  margin: auto;
  &:hover {
    border: 1px solid $darkblue;
    background-color: $white !important;
    color: $darkblue !important;
  }
}

/* For submit buttons on forms */
@mixin btngreen {
  background-color: $green !important;
  width: 100%;
}

/* Buttons for carousel and footer on INDEX PG */ 
@mixin btnwhite {
  color: $darkblue !important;
  background-color: $white !important;
  border-color: $white !important; 
  &:hover {
    border: 3px solid $white !important;
    background-color: $darkblue !important;
    color: $white !important;
  }
}

/* For paragraphs on landing pg */
@mixin allpara {
	font-family: $fontmain;
	font-size: 18px;
	line-height: 1.6;
}

/* Add padding to rows */
@mixin toprows {
  padding-top: 15px;
  padding-bottom: 50px;
}

@mixin middlerows {
  padding-top: 50px;
  padding-bottom: 50px;   
}

@mixin bottomrows {
  padding-top: 50px;
  padding-bottom: 100px;
}

/* Size logos */
@mixin logos {
  width: 100px;
  height: 100px; 
  margin-bottom: 10px;
}

/* Long horizontal line */
@mixin hrlong {
  width: 100%;
  height: 3px;
  color: $litegrey;
}

/* Short horizontal line */
@mixin hrshort {
  width: 400px;
  border-color: $black !important;
  border-top: 1px solid;
  margin-top: 20px;
  margin-bottom: 20px
}

/* Color error messages on forms */
@mixin colorerrors {
  color: $red;
}



