/* CUSTOMIZE THE NAVBAR */

.navbar.navbar-default.navbar-fixed-top {
  background-color: $navgrey !important;
}

.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-wrapper .navbar .container {
  width: auto;
}

/* Size Compass logo */
/* Position on left side */
.navbar-brand {
  height: 120px;
  width: 120px;
} 

/* Set bg color, center navbar on page */
/* Add padding to center text */
.nav.navbar-nav {
  background-color: $navgrey !important; 
  left: 100px;
}

/* Set text font color */
.navlink {
  @include navtextcolor;
}

/* Chg text font color on hover */
.navlink:hover {
  @include navtexthover;
}

/* Set text color on dropdown */
.dropdown-toggle {
  @include navtextcolor;
} 

/* Chg text and bg colors for drop-down on hover */
.navlink-inverse:hover {
  color: $white !important;
  background-color: $darkblue !important;
}

/* Nav dropdown chg color */
.dropdown-toggle:hover {
  @include navtexthover;
}