

$white:        #FFF;
$black:        #000;
$darkblue:     #234D79;
$brightblue:   #00AEEF;
$green:        #3CB371;
$litegrey:     #EEE;
$silver:       #F6F9F9;
$pink:         #FF4D4D;
$medredviolet: #C71585;
$navgrey:      #F8F8F8;
$red:          #B34D4D;
$fontmain:   "Palatino Linotype", "Book Antiqua", Palatino, serif;


//Logo colors
//Dark blue: 234D79
//Med blue(around white center): 1B75BC
//Bright blue: 00AEEF
//Lite grey: BAD0E2
