/* CUSOTMIZE DEVISE, WELCOME FOLDERS */

@import "variables.scss";
@import "mixins.scss";
@import "carousel.scss";
@import "navbar.scss";
@import "global.scss";


/* CUSTOMIZE INDEX PG */
/* Section Dog of The Week and Buzz, chg bg color */
.container-fluid.bg-grey {
  @include bggrey;
}

/* Section Index, style paragraphs */
.lead {
  @include leadpara;
}

/* Size large imgs and align left */
.img-responsive.large.pull-left {
  @include lgpics;
}

/* Size large imgs and align right */
.img-responsive.large.pull-right {
  @include lgpics;
}

/* CUSTOMIZE ABOUT PG */
/* Align imgs with text headings */
.col-md-4.about {
  padding-top: 5px;
}

/* Align text heading with images */
.col-md-4 {
  padding-top: 20px;
}

/* CUSTOMIZE SHOW PG  */
/* Size logos and center on pg */
.img-responsive.center-block.sapa {
  @include logos;
  position: relative;
}

 /* Size and align transport logos */
.img-responsive.center-block.logo {
  @include logos;	
}

/* Align text with logos */
.transport {
	text-align: center;
}

/* Long horizontal line across pg for affect */
.horz-long {
  @include hrlong;
}

hr {
  @include hrlong;
}

/* CUSTOMIZE SHOW and ABOUT PGS */
/* Size med imgs and align left */
.img-responsive.med.pull-left {
  @include medpics;
}

/* Size med imgs and align right */
.img-responsive.med.pull-right {
  @include medpics;
}

/* Size small imgs and align right */
.img-responsive.sm.pull-right {
  @include smpics;
}

/* CUSTOMIZE HELP and EVENTS PGS */
/* Center text */
.special {
  text-align: center;
}

/* Size heart glyphicon */
.glyphicon.glyphicon-heart {
  color: $medredviolet; 
  font-size: 100px;
  display: block;
  text-align: center;
 }

/* Style quote */
 #reese {
   font-style: italic;
   font-weight: bold;
   text-align: center;
 }

/* CUSTOMIZE DEVISE PGS */
/* Larger text size, center content, add space btwn submit button and shared links */
.shared-links {
  @include leadpara;
  text-align: center;
  padding-top: 20px;
}
