<!DOCTYPE html>
<html>
<head>
  <title>CompassDog Dog Rescue</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <!-- Photo credit: <a href="http://www.clipartbest.com/cliparts/bRT/dLj/bRTdLjLi9.jpeg">Clipartbest.com</a> -->
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug 
  <link href#="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
  -->
  
</head>
<body>

  <!-- Display navigation and carousel -->
  <%= render 'shared/navbar' %>


  <%= yield %>


  <!-- Display footer -->
  <%= render 'shared/footer' %>


  <!-- Bootstrap core JavaScript -->
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script>
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  </body>
</html>
